body {
    background-image: url(../img/fondo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    
}

form {
    width: 450px;
    margin: auto;
    background-color: #E5DDD3;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 5px;
}
h2 {
    color: ghostwhite;
    text-align: center;
    margin: 0;
    font-size: 35px;
    margin-bottom: 20px;
}

h1 {
    color: ghostwhite;
    text-align: center;
    margin: 0;
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
        color: ghostwhite;
        text-align: center;
        margin: 0;
        font-size: 25px;
        margin-bottom: 20px;
}


input, textarea { 
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
}

#boton1 { 
    background: url(../img/fotoCal.png);
    color: black;
    padding: 20px;
    size: 30px;
    align-items: center;
}

#boton2 { 
    background: url(../img/fotoRuner.png);
    color: #fff;
    padding: 20px;
    size: 30px;
    align-items: center;
}
#boton3 { 
    background: url(../img/fotoSalt.png);
    color: #fff;
    padding: 20px;
    size: 30px;
    align-items: center;
}
#boton4 { 
    background: url(../img/fotoBuscF.png);
    color: #fff;
    padding: 20px;
    size: 30px;
    align-items: center;
}

#boton5 { 
    background: url(../img/fotoGala.png);
    color: black;
    padding: 20px;
    size: 30px;
   align-items: center;
}

#botonL { 
    background-color:darkred;
    color: #fff;
    padding: 20px;
    size: 50px;
}





@media (max-width: 480px) {
    form{
        width: 100%;
    }
}
#contenedor {
	position: relative;
	width: 600px;
	height: 300px;
}
#modal {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
}
#boton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(60%);
}
#botonIns {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(60%);
}